# Hands On Astropy and Data Reading

## What is Astropy?


    "The Astropy Project is a community effort to develop a single core package for Astronomy in Python and foster interoperability between Python astronomy packages."


The concept and structure of the package is decribed in more detail in the first [Astropy paper 2013](http://adsabs.harvard.edu/abs/2013A%26A...558A..33A). The development infrastructure
and status of the v2.0 core package is described in the second [Astropy paper 2018](http://adsabs.harvard.edu/abs/2018AJ....156..123A).

The **Astropy package is structured into several submodules** and we will cover (what we consider) the most important of them in the following order:

1. [astropy.units](http://docs.astropy.org/en/stable/units/index.html) and in particular [astropy.units.Quantity](http://docs.astropy.org/en/stable/api/astropy.units.Quantity.html) to do astronomical calculations with units.

2. [astropy.coordinates](http://docs.astropy.org/en/stable/coordinates/) and in particular the classes [SkyCoord](http://docs.astropy.org/en/stable/api/astropy.coordinates.SkyCoord.html) and [Angle](http://docs.astropy.org/en/stable/coordinates/angles.html) to handle astronomical sky positions, coordinate systems and coordinate transformations.

3. [astropy.tables](http://docs.astropy.org/en/stable/table/index.html) and the [Table](http://docs.astropy.org/en/stable/api/astropy.table.Table.html) class to handle astronomical data tables.

4. [astropy.io.fits](http://docs.astropy.org/en/stable/io/fits/index.html) to open and write data files in [FITS format](https://fits.gsfc.nasa.gov/fits_documentation.html).

## 0. Setup

Check package versions. All examples should work with Astropy > 2.0 and Numpy > 1.11

In [1]:
%matplotlib inline  
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import astropy
print('numpy:', np.__version__)
print('astropy:', astropy.__version__)

numpy: 1.23.2
astropy: 5.1

## 1. Units and Quantities

The [astropy.units]() subpackage provides functions and classes to handle physical quantities with units. 


The recommended way to import the `astropy.units` submodule is:

In [3]:
from astropy import units as u

`Quantities` are created by multiplying any number with a unit object:

In [15]:
distance = 1. * u.parsec
print( distance.to( u.lightyear) )
print(distance)

3.2615637771674333 lyr
1.0 pc

Or by passing a string to the general `Quantity` object:

In [16]:
distance = u.Quantity('1 lyr')

Check the availabe units with tab completion on the units module, `u.<TAB>`.

Quantities can be also created using lists and arrays:

In [17]:
distances = [1, 3, 10] * u.lightyear
print(distances)

distances = np.array([1, 3, 10]) * u.lightyear
print(distances)

[ 1.  3. 10.] lyr
[ 1.  3. 10.] lyr

In [18]:
distances.value

array([ 1.,  3., 10.])

In [19]:
np.mean( distances)

The quantity object has a value attribute, which is a plain `numpy.ndarray`:

In [21]:
type(distances.value)

numpy.ndarray

And a unit, which is represented by a `astropy.units.core.Unit` object:

In [22]:
distances.unit

Unit("lyr")

In [23]:
type(distances.unit)

astropy.units.core.Unit

In [25]:
type(3.)

float

A quantity behaves in many ways just like a `numpy.ndarray` with an attached unit.

In [ ]:
distances * 10

Many numpy functions will work as expected and return again a `Quantity` object:

In [26]:
np.max(distances)

In [27]:
np.mean(distances)

But there are exceptions, where the unit handling is not well defined, e.g. in `np.log` arguments have to be dimensionless, such as:

In [33]:
#np.log(30 * u.MeV) # Will raise an UnitConversionError
np.log(30 * u.MeV / (1 * u.MeV))

In [38]:
from astropy import constants as const

print(const.c.to('km / s'))

299792.458 km / s

In [44]:
zar = u.Unit('zar' , 243*u.PJ)

In [ ]:
243 PJ

In [40]:
human_body = 70* u.kg * const.c**2

In [45]:
human_body.to( zar)

Probably the most useful method on the `Quantity` object is the `.to()` method which allows to convert a quantity to different units:

In [ ]:
distance.to('meter')

In [ ]:
distance.to(u.parsec)

Quantities can be combined with any arithmetical expression to derive other quantities, `astropy.units` will propagate
the units correctly:

In [ ]:
speed_of_light = distance / u.year
print(speed_of_light.to('km/s'))

In [ ]:
from astropy import constants as const

print(const.c.to('km / s'))

In [ ]:
print(const.c.to('cm / ns'))

Here is a [list of available constants](http://docs.astropy.org/en/stable/constants/#module-astropy.constants).

If you write a function you can make sure the input is given in the right units using the [astropy.units.quantity_input](http://docs.astropy.org/en/stable/api/astropy.units.quantity_input.html#astropy.units.quantity_input) decorator:

In [ ]:
@u.quantity_input(frequency=u.hertz, temperature=u.K)
def blackbody(frequency, temperature): 
    pre_factor = 2 * (const.h * frequency ** 3) / const.c ** 2
    exponential_factor = 1. / (np.exp((const.h * frequency) / (const.k_B * temperature)) - 1)
    return pre_factor * exponential_factor

In [ ]:
# blackbody(300 * u.nm, 500 * u.K)

### Exercises

- (*easy*) How long does the light travel from the sun to the earth in minutes? How long does the light travel from the Galactic center (assume a distance of 8 kpc) in years? 
- (*advanced*) Define a new unit called `"baro-meter"`, which is eqivalent to 25 cm and use it to measure the height of the empire state building (assume a height of 381 meters). Please read the [Astropy documentation on combining and defining units](http://docs.astropy.org/en/stable/units/combining_and_defining.html) for an example how to do this (For other ways to measure the height of a building using a barometer see [barometer question on Wikipedia](https://en.wikipedia.org/wiki/Barometer_question)...)

## 2. Coordinates

With the submodule [astropy.coordinates](http://docs.astropy.org/en/stable/coordinates/) Astropy provides a framework to handle sky positions in various coordinate systems and transformations between them.


The basic class to handle sky coordinates is [SkyCoord](http://docs.astropy.org/en/stable/api/astropy.coordinates.SkyCoord.html):

In [52]:
from astropy.coordinates import SkyCoord

It can be created by passing a position angle for longitude and latitude and a keyword specifying a coordinate frame:

In [53]:
position_crab = SkyCoord(83.63 * u.deg,  22.01 * u.deg, frame='icrs')
print(position_crab)

<SkyCoord (ICRS): (ra, dec) in deg
    (83.63, 22.01)>

As for `Quantities` the instanciation with `lists`, `arrays` or even `Quantities` also works:

In [54]:
positions = SkyCoord([345., 234.3] * u.deg,  [-0.1, 0.2] * u.deg, frame='galactic')

Alternatively the angles can be specified as string:

In [55]:
position_crab = SkyCoord('5h34m31.97s', '22d0m52.10s', frame='icrs')

# or

position_crab = SkyCoord('5:34:31.97', '22:0:52.10',
                         unit=(u.hour, u.deg), frame='icrs')

Where in the first case the unit doesn't have to specified because it is encoded in the string via `'hms'` and `'dms'`.

A very convenient way to get the coordinates of an individual object is qerying the [Sesame](http://cds.u-strasbg.fr/cgi-bin/Sesame) database with `SkyCoord.from_name()`:

In [73]:
SkyCoord.from_name('Polaris')

<SkyCoord (ICRS): (ra, dec) in deg
    (37.95456067, 89.26410897)>

To transform the coordinates to a different coordinate system we can use `SkyCoord.transform_to()`:

In [58]:
pos_gal = position_crab.transform_to('galactic')
pos_gal

<SkyCoord (Galactic): (l, b) in deg
    (184.55754381, -5.78427369)>

For convenience we can also directly use the `.galactic` or `.icrs` attributes:

In [59]:
position_crab.galactic

<SkyCoord (Galactic): (l, b) in deg
    (184.55754381, -5.78427369)>

In [60]:
position_crab.icrs

<SkyCoord (ICRS): (ra, dec) in deg
    (83.63320833, 22.01447222)>

To access the `longitude` and `latitude` angles individually:

In [61]:
position_crab.data.lon

In [62]:
position_crab.data.lat

### 2.1 ALT - AZ coordinates

In various cirumstances, e.g. for planning observations, it can be usefull to transform a sky coordinate into a position in the horizontal coordinate system given a location on earth and a time

See:  https://en.wikipedia.org/wiki/Azimuth#/media/File:Azimuth-Altitude_schematic.svg

In [63]:
from astropy.coordinates import EarthLocation, AltAz
from astropy.time import Time

We define a location using [EarthLocation](http://docs.astropy.org/en/stable/api/astropy.coordinates.EarthLocation.html):

In [82]:
Padova= EarthLocation(lat=45.406435 * u.deg, lon=11.876761 * u.deg)
print(Padova.geodetic)

GeodeticLocation(lon=<Longitude 11.876761 deg>, lat=<Latitude 45.406435 deg>, height=<Quantity -1.36248431e-09 m>)

And a time using the [Time](http://docs.astropy.org/en/stable/api/astropy.time.Time.html) object:

In [65]:
now = Time.now()
print(now)

2022-09-05 13:08:44.089871

In [68]:
now += 7 * u.hour

In [84]:
now

Now we can define a horizontal coordinate system using the [AltAz]([docs.astropy.org/en/stable/api/astropy.coordinates.AltAz.html) class and use it to convert from the sky coordinate:

In [77]:
position = SkyCoord.from_name('Polaris')

In [83]:
altaz = AltAz(obstime=now, location=Padova)
altaz = position.transform_to(altaz)
print(altaz)

<SkyCoord (AltAz: obstime=2022-09-05 20:08:44.089871, location=(4389514.25342687, 923156.45903806, 4519174.48628577) m, pressure=0.0 hPa, temperature=0.0 deg_C, relative_humidity=0.0, obswl=1.0 micron): (az, alt) in deg
    (0.87967953, 45.22232414)>

### 2.4 Exercises

- (*easy*) Define the sky coordinate for your favorite astronomical object and find the angular distance to the Crab Nebula as well as the Galactic center.
- (*expert*) Make a plot of the height above horizon vs.time for the crab position at the location of Bergen. Mark the time range where it is visible. Would the Crab Nebula be visible tonight?

## 3. Tables

Astropy provides the [Table](http://docs.astropy.org/en/stable/api/astropy.io.votable.tree.Table.html) class in order to handle data tables.

### 3.1 Basics

Table objects can be created as shown in the following

In [85]:
from astropy.table import Table

In [86]:
table = Table()

We add columns to the table like we would add entries to a dictionary

In [87]:
table['Source_Name'] = ['Crab', 'Sag A*', 'Cas A', 'Vela Junior']
table['GLON'] = [184.5575438, 0, 111.74169477, 266.25914205] * u.deg
table['GLAT'] = [-5.78427369, 0, -2.13544151, -1.21985818] * u.deg
table['Source_Class'] = ['pwn', 'unc', 'snr', 'snr']

By executing the following cell, we get a nicely formatted version of the table printed in the notebook:

In [88]:
table

<Table length=4>
Source_Name     GLON         GLAT    Source_Class
                deg          deg
   str11      float64      float64       str3
----------- ------------ ----------- ------------
       Crab  184.5575438 -5.78427369          pwn
     Sag A*          0.0         0.0          unc
      Cas A 111.74169477 -2.13544151          snr
Vela Junior 266.25914205 -1.21985818          snr

### 3.2 Accessing rows and columns

We have access to the defined columns. To check which ones are availbe you can use `Table.colnames`:

In [89]:
table.colnames

['Source_Name', 'GLON', 'GLAT', 'Source_Class']

And access individual columns just by their name:

In [90]:
table['GLON']

<Column name='GLON' dtype='float64' unit='deg' length=4>
 184.5575438
         0.0
111.74169477
266.25914205

And also a subset of columns:

In [91]:
table[['Source_Name', 'GLON']]

<Table length=4>
Source_Name     GLON
                deg
   str11      float64
----------- ------------
       Crab  184.5575438
     Sag A*          0.0
      Cas A 111.74169477
Vela Junior 266.25914205

Often, it is handy to get the column data as [astropy.units.Quantity](http://docs.astropy.org/en/stable/api/astropy.units.Quantity.html#astropy.units.Quantity) using the `.quantity` property:

In [92]:
table['GLON'].quantity

Rows can be accessed using numpy indexing:

In [ ]:
table[0:2]

Or by using a boolean numpy array for indexing:

In [95]:
selection = table['Source_Name'] == 'Crab'
table[selection]

<Table length=1>
Source_Name     GLON        GLAT    Source_Class
                deg         deg
   str11      float64     float64       str3
----------- ----------- ----------- ------------
       Crab 184.5575438 -5.78427369          pwn

There is also a more sophisticated indexing scheme, which is explained [here](http://docs.astropy.org/en/stable/table/indexing.html), but not covered in this tutorial.

### 3.3 Reading / Writing tables to disk
Astropy tables can be serialized into many formats. For an overview see [here](http://docs.astropy.org/en/latest/io/unified.html#built-in-table-readers-writers). To write the table in FITS format we can use:

In [97]:
table.write('example.fits', overwrite=True, format='fits')

In [ ]:
table.write('data/example.ecsv', overwrite=True, format='ascii.ecsv')

In [98]:
Table.read('example.fits')

<Table length=4>
Source_Name     GLON         GLAT    Source_Class
                deg          deg
  bytes11     float64      float64      bytes3
----------- ------------ ----------- ------------
       Crab  184.5575438 -5.78427369          pwn
     Sag A*          0.0         0.0          unc
      Cas A 111.74169477 -2.13544151          snr
Vela Junior 266.25914205 -1.21985818          snr

### 3.7 Exercises

-  Add columns with the `RA` and `DEC` coordinates of the objects to the example table.

## 4. Read FITS files

The [flexible image transport system](https://fits.gsfc.nasa.gov/fits_documentation.html) format (FITS) is widely used data format for astronomical images and tables. As example we will use idata from the Crab nebula taken with the MAGIC telescope

In [99]:
from astropy.io import fits

To open the fits file we use `fits.open()` and just specify the filename as an argument:

In [100]:
fits_file = fits.open('data_test/run_05029747_DL3.fits')

We can retrieve some basic information on the  header data unit (HDU) by calling `.info()`:

In [101]:
fits_file.info()

Filename: data_test/run_05029747_DL3.fits
No.    Name      Ver    Type      Cards   Dimensions   Format
  0  PRIMARY       1 PrimaryHDU       7   ()
  1  EVENTS        1 BinTableHDU     59   6310R x 5C   [1K, 1D, 1E, 1E, 1E]
  2  GTI           1 BinTableHDU     24   1R x 2C   [1D, 1D]
  3  EFFECTIVE AREA    1 BinTableHDU     37   1R x 5C   [21E, 21E, 2E, 2E, 42E]
  4  ENERGY DISPERSION    1 BinTableHDU     37   1R x 7C   [20E, 20E, 80E, 80E, 2E, 2E, 3200E]

### Primary

In [104]:
primary = fits_file['PRIMARY'] 

#or

primary = fits_file[0]

In [109]:
primary.data

Additional meta information is stored in the `.header` attribute:

In [110]:
primary.header

SIMPLE  =                    T / file does conform to FITS standard
BITPIX  =                    8 / number of bits per data pixel
NAXIS   =                    0 / number of data axes
EXTEND  =                    T / FITS dataset may contain extensions
COMMENT   FITS (Flexible Image Transport System) format is defined in 'Astronomy
COMMENT   and Astrophysics', volume 376, page 359; bibcode: 2001A&A...376..359H
TELESCOP= 'MAGIC   '           / Telescope

### Events

In [111]:
events = fits_file['EVENTS']

Using header we get all the information on how this events were collected

In [112]:
events.header

XTENSION= 'BINTABLE'           / binary table extension
BITPIX  =                    8 / 8-bit bytes
NAXIS   =                    2 / 2-dimensional binary table
NAXIS1  =                   28 / width of table in bytes
NAXIS2  =                 6310 / number of rows in table
PCOUNT  =                    0 / size of special data area
GCOUNT  =                    1 / one data group (required keyword)
TFIELDS =                    5 / number of fields in each row
TTYPE1  = 'EVENT_ID'           / label for field   1
TFORM1  = '1K      '           / data format of field: 8-byte INTEGER
TTYPE2  = 'TIME    '           / label for field   2
TFORM2  = '1D      '           / data format of field: 8-byte DOUBLE
TUNIT2  = 's       '           / physical unit of field
TTYPE3  = 'RA      '           / label for field   3
TFORM3  = '1E      '           / data format of field: 4-byte REAL
TUNIT3  = 'deg     '           / physical unit of field
TTYPE4  = 'DEC     '           / label for field   4
TFORM4  = '1E      '           / data format of field: 4-byte REAL
TUNIT4  = 'deg     '           / physical unit of field
TTYPE5  = 'ENERGY  '           / label for field   5
TFORM5  = '1E      '           / data format of field: 4-byte REAL
TUNIT5  = 'TeV     '           / physical unit of field
EXTNAME = 'EVENTS  '           / name of this binary table extension
HDUCLASS= 'GADF    '           / Signal conformance with HEASARC/OGIP convention
HDUDOC  = 'https://github.com/open-gamma-ray-astro/gamma-astro-data-formats' / R
HDUVERS = '0.2     '           / Version of the format
HDUCLAS1= 'EVENTS  '           / Primary extension class
OBS_ID  =              5029747 / Unique observation identifier
TSTART  =     333778849.435217 / Start time of observation
TSTOP   =     333780037.546979 / End time of observation
ONTIME  =       1188.111761868 / Total run time
LIVETIME=     1180.69849663973 / Total run time, dead-time corrected
DEADC   =    0.993760464742293 / deadtime fraction
EQUINOX = '        '           / Equinox year for coord. sys.
RADECSYS= 'FK5     '           / Equatorial system type
ORIGIN  = 'MAGIC Collaboration'
TELESCOP= 'MAGIC   '
INSTRUME= 'MAGIC stereo, post major upgrade'
CREATOR = 'magic_dl3'
DATE-OBS= '2013-10-04'         / start date (UTC) of obs yy-mm-dd
TIME-OBS= '04:20:46'           / start time (UTC) of obs hh-mm-ss
DATE-END= '2013-10-04'         / end date (UTC) of obs yy-mm-dd
TIME-END= '04:40:34'           / end time (UTC) of obs hh-mm-ss
MJDREFI =                52706 / int part of reference MJD [days]
MJDREFF =                   0. / fractional part of reference MJD [days]
TIMEUNIT= 's       '           / time unit is seconds since MET start
TIMESYS = 'utc     '           / time scale is UTC
TIMEREF = 'local   '           / local time reference
OBJECT  = 'CrabNebula'         / observed object
RA_PNT  =     83.9833333333333 / observation position RA [deg]
DEC_PNT =     22.2438888888889 / observation position dec [deg]
RA_OBJ  =     83.6333333333333 / target position RA [deg]
DEC_OBJ =     22.0144444444444 / target position dec [deg]
TELLIST = 'MAGIC-I,MAGIC-II'   / comma-separated list of tel IDs
TELLIST = '2       '           / number of telescopes in event list
EUNIT   = 'TeV     '           / energy unit
GEOLON  =    -17.8907013888889 / longitude of array center [deg]
GEOLAT  =            28.761795 / latitude of array center [deg]
ALTITUDE=               2199.4 / altitude of array center [m]

In [113]:
events.columns.names

['EVENT_ID', 'TIME', 'RA', 'DEC', 'ENERGY']

In Astropy Table format

In [114]:
Table( events.data )

<Table length=6310>
EVENT_ID        TIME            RA       DEC       ENERGY
 int64        float64        float32   float32    float32
-------- ------------------ --------- --------- -----------
      42  333778849.5267153 444.21463  23.44914  0.08397394
      67 333778849.61315054  443.5247 22.725792  0.10596932
      80  333778849.6690142 443.76956 22.451006  0.19733498
     116  333778849.7778549 443.71518 21.985115   1.0020943
     179  333778849.9826064 443.64136 22.041315  0.10316629
     198  333778850.0339344 444.84238 22.175398 0.118843034
     251 333778850.20117164 442.21805 21.617695   0.2293238
     299  333778850.3477573  443.1049 22.165325  0.13139088
     ...                ...       ...       ...         ...
     497  333780035.9721074 445.15253  22.07673  0.16445196
     570 333780036.17792755 443.99866 22.431725  0.14909887
     599  333780036.2743846 444.22705 22.348415  0.19341666
     622 333780036.33778954 444.08524 22.571606  0.07879259
     660 333780036.47105366 443.41534  21.67344   0.2096362
     675  333780036.5179095 443.55164 22.772985  0.17672835
     924  333780037.3755159 444.85886 22.116222 0.123453744
     963 333780037.52476007  444.8693 21.290916  0.13630114

### GTI

In [ ]:
gti = fits_file['GTI']

In [ ]:
gti.header

In [ ]:
Table( gti.data )

### Effective Area

In [ ]:
effective_area = fits_file['EFFECTIVE AREA']

In [ ]:
effective_area.header

In [ ]:
Table( effective_area.data)

### ENERGY DISPERSION

In [ ]:
en_disp = fits_file['ENERGY DISPERSION']

In [ ]:
en_disp.header

In [ ]:
Table( en_disp.data )

### 4.2 Exercises